@model Ticket

<a asp-action="MyProfile" asp-controller="Home">Home</a>
|
<a asp-action="Logout" asp-controller="Users">Log Out</a>

<h1>Edit @ViewBag.TicketToEdit.TicketTitle</h1>

<form asp-action="UpdateTicket" method="post">
    <div class="form-group">
        <label asp-for="TicketTitle"></label>
        <input asp-for="TicketTitle"  class="form-control">
        <span asp-validation-for="TicketTitle" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="TicketDescription"></label>
        <input asp-for="TicketDescription"  class="form-control">
        <span asp-validation-for="TicketDescription" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="TicketPriority"></label>
        <select asp-for="TicketPriority"  class="form-control">
            <option value="Low">Low</option>
            <option value="Medium">Meduim</option>
            <option value="High">High</option>
        </select>
        <span asp-validation-for="TicketPriority" class="text-danger"></span>
    </div>
<button>Update</button>
</form>
<br>
<a asp-action="TicketPage" asp-controller="Ticket"><button>Cancel</button></a>