@{
    User user = ViewBag.User;
}

<h1>This is the Admin DashBoard!</h1>
<h1>First Name = @user.FirstName</h1>
<h1>Last Name = @user.LastName</h1>
<h1>Email = @user.Email</h1>
<h1>Role = @user.Admin</h1>
