@model User

<a asp-action="MyProfile">Home</a>

<h1>Edit Profile</h1>

<form asp-action="EditProfile" method="post">
    <div class="form-group">
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName"  class="form-control">
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="LastName"></label>
        <input asp-for="LastName"  class="form-control">
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email"  class="form-control">
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    
<button>Update</button>
</form>
<br>
<br>
<a asp-action="MyProfile"><button>Cancel</button></a>