@model LoginUser


<h1 class="text-center">Welcome to Project Tracker!</h1>
<br>

<h3>Please Log In!</h3>
<br>

<form asp-action="Login" method="post">
    <div class="row mb-3">
        <label asp-for="LoginEmail" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="LoginEmail" type="text" class="form-control">
        </div>
        <span asp-validation-for="LoginEmail" class="text-danger"></span>
    </div>
    <div class="row mb-3">
        <label asp-for="LoginPassword" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
        <input asp-for="LoginPassword" class="form-control">
        </div>
        <span asp-validation-for="LoginPassword" class="text-danger"></span>
    </div>
        <button class="btn btn-primary">Log In</button>
</form>
<br>
<br>
<a asp-action="RegistrationForm">Register Here!</a>